<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP:X-Forwarded-Proto} !https 
RewriteCond %{REQUEST_URI} ^/route/(.*)/$ 
RewriteRule ^(.*) /route/ 